<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script type="text/javascript" src="../../webjars/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="../../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
     <link rel="stylesheet" href="../../../assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <!-- inject:css -->
    <link rel="stylesheet" href="../../assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>

    <body >
       <div class="container-scroller">
                 <div th:replace="administrator_pages/partials/_navbar"></div>
            <div class="container-fluid page-body-wrapper">
                     <div th:replace="administrator_pages/partials/_sidebar"> </div>
                 <div class="main-panel">
                            <!-- Radna povrsina -->
                     <div class="content-wrapper">
                                
                                 <div class="row">
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
                                 
           <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Креирање налога</h4>
                     
                     <!-- ---------------------------------------------------------- -->
                      <div class="alert alert-success alert-dismissible" th:if="${saveSucces}" >
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                         <strong th:text="${saveSucces}"></strong>
                      </div>
                                      <!-- ---------------------------------- -->
                      <div class="alert alert-danger alert-dismissible" th:if="${saveError}" >
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong th:text="${saveError}"></strong>
                     </div>
                      <!-- ------------------------------------------------------------ --> 
                      <div class="alert alert-success alert-dismissible" th:if="${deleteSucces}" >
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong th:text="${deleteSucces}"></strong>
                      </div>
                     <!-- ------------------------------------------------------------ --> 
                    
                    
                    
                    
                    <form class="forms-sample" action="#" th:action="@{'/admin/saveUser'}"  th:object="${objOfUser}" method="post">
                                     
                     <!-- ------------------------------------------ -->
                      <input type="hidden" class="form-control" th:field="*{id}">
                                 
                     <!-- ------------------------------------ -->
                    <div class="form-group">
                      <label>Име</label>
                      <input type="text" class="form-control form-control-lg" placeholder="Унесите име корисника..."  th:field="*{firstName}">
                    </div>
                    <!-- ------------------------------------ -->
                    <div class="form-group">
                      <label>Презиме</label>
                      <input type="text" class="form-control" placeholder="Унесите презиме корисника..." th:field="*{lastName}">
                    </div>
                      <!-- ------------------------------------ -->
                    <div class="form-group">
                      <label>Електронска пошта</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Унесите е-mail корисника..." th:field="*{email}">
                    </div>
                      <!-- ------------------------------------ -->
                    <div class="form-group">
                      <label>Лозинка</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Унесите шифру налога..." th:field="*{password}">
                    </div>
                      <!-- ------------------------------------ -->
                    <h4 class="card-title">Улога корисника</h4>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Изаберите улогу</label>
                      <select class="form-control form-control-lg"  th:field="*{inputRole}">
                        <option th:value="0">---Изаберите улогу---</option>
                        <option th:each="i : ${listOfRole}"  th:text="${i.name}" th:value="${i.id}"  ></option>
                      </select>
                      
                      </div>  
                      
                      <div class="form-group">
                           <button type="submit" class="btn btn-success mr-2" th:text="${isUpdate} ? 'Измени' : 'Сними'"></button>
                      </div>
                   
                   </form>
                   
                   
    
       <table class="table table-striped">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Име</th>
                      <th>Презиме</th>
                      <th>Е-пошта</th>
                      <th>Улога</th>
                      
                      
                      <th>Уређивање</th>
                  </tr>
            </thead>
              <tbody>
                 <tr th:each="user: ${listOfUser}">
                      
                     <td th:text="${user.id}"></td>
                     <td th:text="${user.firstName}"></td>
                     <td th:text="${user.lastName}"></td>
                     <td th:text="${user.email}"></td>
                     <td th:each="j:${user.roles}" th:text="${j.name}"></td>
                    
                     
                     <td>
                        <a th:href="@{'/admin/editUser/' + ${user.id}}"><i class="fa fa-edit" title="Промена податке кориснику." style="font-size:21px; padding:20px;"></i></a>
                        <a class="fa fa-trash delBtn"    th:href="@{'/admin/deleteUser/' + ${user.id}}"  title="Избриши корисника." th:attr="data-name=${user.firstName}, data-last=${user.lastName}" style="font-size:21px; padding:20px;"></a>
                    </td>
                     
                 </tr>
              
              </tbody>
          
          </table>
    </div>
   </div> 
   </div> 
</div> 
  <!-- class "row" close  -->
   
   </div>
    <!-- class "content-wrapper" close  -->
   </div>
    </div>
    </div>
    
    
    
    
    <!-- Delete popup -->
     <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Брисање оцене</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal"
                            type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger" id="deleteLearner">
                        <!-- text is situated from JQuery -->
                    </p>
                    <input type="hidden" class="form-control" th:id="removeLearner" th:name="removeLearner">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal"
                            type="button">Одустани
                    </button>
                    <a class="btn btn-danger" href="" id="delRef">Потврди</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Delete popup -->
          
        
       
 
 </body>
 
  <div th:replace="administrator_pages/partials/_footer"> </div>  
  
    <script type="text/javascript" th:src="@{../../js/deleteUser.js}" src="../../static/js/deleteUser.js"></script>
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../assets/js/shared/off-canvas.js"></script>
    <script src="../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../assets/js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
</html>