<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script type="text/javascript" src="../webjars/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="../assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
      <link rel="stylesheet" href="../../../assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />

</head>
<body>

             
        <div class="container-scroller">
                 <div th:replace="teachers_pages/partials/_navbar"></div>
            <div class="container-fluid page-body-wrapper">
                     <div th:replace="teachers_pages/partials/_sidebar"> </div>
                 <div class="main-panel">
                            <!-- Radna povrsina -->
                     <div class="content-wrapper">
                     
                            <div class="row">
                            
                             <!-- 0000000000000000000000000000000000000000000 -->
   <div id="accordion">
   
    <!-- ---------------------------------------------------------- -->
      <div class="alert alert-success alert-dismissible" th:if="${messageSuccessCreate}" >
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong th:text="${messageSuccessCreate}"></strong>
     </div>
    <!-- ---------------------------------- -->
     <div class="alert alert-danger alert-dismissible" th:if="${errorData}" >
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong th:text="${errorData}"></strong>
    </div>
    <!-- ------------------------------------------------------------ -->
     <div class="alert alert-danger alert-dismissible" th:if="${errorNull}" >
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong th:text="${errorNull}"></strong>
    </div>
   
     
    
    <div class="card"  >
       <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Регистарски број ученика</th>
                      <th>Име ученика</th>
                      <th>Презиме ученика</th>
                      <th>Акција</th>
                  </tr>
            </thead>
              <tbody>
                 <tr th:each="learner: ${listOfLearners}">
                      
                     <td th:text="${learner.id}"></td>
                     <td th:text="${learner.firstName}"></td>
                     <td th:text="${learner.lastname}"></td>
                     <td>
                        <a th:href="@{'/teachers/viewGrade/' + ${learner.id}}"><i class="fa fa-eye" title="Преглед оцена по предметима и промена." style="font-size:21px; padding:20px;"></i></a>
                        <a class="fa fa-edit nBtn" th:attr="data-name=${learner.firstName}, data-last=${learner.lastname}"  th:value="${learner.id}" title="Унос нове оцене." th:href="@{editGrade/(id=)}" style="font-size:21px; padding:20px;"></a>
                        
                      <!-- <a href="#" class="confirm-delete" th:attr="data-id=${learner.id}, data-name=${learner.lastname}"><i class="fa fa-trash" style="font-size:21px; padding:20px;"></i></a> -->
                     </td>
                     
                 </tr>
              
              </tbody>
          
          </table>
       
      </div>
    </div>
    
    <!-- JavaScript popup new grades -->
    <div class="myForm" >
         <form action="#" th:method="post" th:action="@{/teachers/saveOrUpdateGrade}" th:object="${objOfGrade}">
             <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                 id="exampleModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Промена оцене</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                       
                        </div>
                        <div class="modal-body" >
                            <div class="form-group">
                               <label for="exampleFormControlSelect1">Изабери предмет:</label>
                               <select   class="form-control form-control-lg"   th:field="${objOfGrade.schoolSubject}" th:id="subjectId">
                                     <option value="">--- Изаберите предмет ---</option>
                                    <option th:each="i: ${listOfSubject}"  th:text="${i.subjectName}" th:value="${i.id}"></option>
                                 </select>
                            </div>
                        
                            <div class="form-group">
                                <input class="form-control" type="hidden" th:field="${objOfGrade.id}" th:id="gradeId" th:name="id" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="heightGrade">Оцена од 1 до 5:</label>
                                <input class="form-control"  type="number" th:field="${objOfGrade.heightGrade}" th:id="heightGrade" th:name="heightGrade" value=""/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="hidden" th:field="${objOfGrade.idOfLerner}" th:id="lernerId" th:name="idOfLerner.id" value=""  />
                            </div>
                            
                        </div>
                        
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Затвори
                            </button>
                            <input class="btn btn-primary" type="submit" value="Сачувај"/>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
     </div>                   
    
        
 <!-- JavaScript popup new grades -->
    
  </div>
</div>
</div>                   
                           </div>
               
               
               <div th:replace="teachers_pages/partials/_footer"> </div>          
        </div>
    
</body>
   <script>
   $(document).ready(function(){
		
  	 
  	 $(".table .nBtn").click(function(event) {
  		event.preventDefault();
  		var learnerID =  $(this).attr('value');
  		var firstName = $(this).data('name');
  		var lastName = $(this).data('last');
  		
  		 $('.myForm #lernerId').val(learnerID);
  		 
  		 $('.myForm #exampleModalLabel').text("Упис оцене ученику " + firstName+" "+lastName +".");
  		 
  		 $('.myForm #exampleModal').modal();
  		
  		
  		
  		 
  		
  	    	 
  	    	 
  	    	 
      		 
  		
  		});
  	 }); 
   
   
   
   </script>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../assets/js/shared/off-canvas.js"></script>
    <script src="../assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../assets/js/demo_1/dashboard.js"></script>
    <!-- End custom js for this page-->
</html>