<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="../../assets/images/faces/face9.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name" th:text="${connUser}" ></p>
          <p class="designation">Директор</p>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Директор</li>
    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Директор</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
           <li class="nav-item">
            <a class="nav-link" href="/director/">Успех одељења по предмету</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/director/averageOfSchool">Успех школе по предмету</a>
          </li>
        </ul>
      </div>
    </li>
    
    
  
    
   
  </ul>
</nav>